/*------------------------------------------------------------------

    [Main Style Stylesheet]
    Project:       ICEBERG
    Version:        0
    Author:         Team Iceberg
    Last change:    12/06/19


-------------------------------------------------------------------

    [Table of contents]
    01. Setting
    02. Components
    03. Header
    04. Menu
    05. Content
    06. Page Reviews
    07. Page Category
    08. Page Video
    09. Page Article
    10. Page 404
    11. Page Contact
    12. Footer

-------------------------------------------------------------------*/
/*==========Setting=========*/

body {
    font-family: "Open Sans", sans-serif;
    min-width: 320px;
    font-size: 12px;
    color: #333;
}

p {
    font-size: 12px; }

ul, li {
    padding: 0px;
    list-style: none;
    margin: 0px; }

h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
    font-family: "Roboto Slab", serif; }

h1, h2 {
    text-align:center;
}

h1 {
    font-size: 32px;
    color: #BD5D38;
    padding-top: 40px;
}

h2 {
    font-size: 28px;
    color:#313280 ;
    padding-bottom: 40px;
}

h3{
    color: #313280;
}

h4{
    color:#BD5D38;
}

a:link{
    text-decoration:none;
    color:white;
}

/*==========CONTENT=========*/
main{
    display:flex;
}

/*==========Aside=========*/
.aside{
    border: 1px solid grey;
    padding: 10px;
    margin-bottom: 10%;
}

.sdTitre {
    font-size: 1.2rem;
    margin-top: 5%;
}

.champs {
    margin-top: 5%;
}

/*==========Cards=========*/


.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 20px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #BD5D38;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    /*position: relative;*/
    height: 100%;
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    /*position: absolute;*/
    width: 100%;
    bottom: 10px;
    left: 20px;
    color: #313280;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    position: relative;
}

.no-padding {
    padding: 0;
}

.carte {
    margin-bottom: 50px;
}

.titre {
    position : absolute;
    z-index: 5;
    right : 0;
    top: -7%;
}

.titre h3{
    display: inline-block;
    padding: 4px 10px;
    background-color: #313280;
    text-transform:capitalize;
    font-style: italic;
    font-weight: bold;
    color:white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    margin:0;
    border-radius: 6px;
    letter-spacing: 1px;
    box-shadow: 2px 2px 3px grey;


}

    @media only screen and (max-width: 768px) {
    .titre {
        right : 2%;
        top: -10%;
    }




            .aside {
                margin-bottom: 60px;
            }



          .myloader {
           padding: 5px;

            }


          .titre {
              margin-right: 12px;
          }




         .titre h3 {

              font-weight: bold;
              font-size: 19px;
              padding: 2px;

          }


Z
          .titre.row {

              margin-top: 10px;
              margin-right: 7px;
              background_color: none;
          }

            .imageContent {
                width:200px;
                height:200px;
                padding:0;
            }

            img.card-img{
                width: 400px;
                height:200px;
                object-fit: cover;

            }

            .compteur {
                padding:0;
            }





/*  media query mobile*/



}
