{% extends "layout.html.twig" %}

{% block page_title %}
    Modifier mon profil
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'Components/_modalProfil.html.twig' %}

        {{ form(form, {attr:{novalidate: 'novalidate' }}) }}
    </div> {# fin div.container #}


{% endblock %}

