
{########## FOOTER ###########}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4  col-sm-4 col-xs-12">
                <div class="about">
                    <a href="#" class="logo">
                        <img alt="img\logo.jpg" src="logo"/>
                    </a>
                    <p> © 2019 <a href="#">Iceberg</a>. All rights reserved.</p>
                </div>
            </div>

            <div class="newsletter col-md-offset-1 col-sm-4 col-xs-12">
                <h3>Restez infomé.e.s !</h3>
                <h4>Recevez les derniers appels à projets</h4>
                <form class="transparent" action="post">
                    <input class="transparent" placeholder="Email">
                </form>
            </div>

            <div class="col-md-3 col-md-offset-1 col-sm-4 col-xs-12"></div>

        </div> {# fin div.row #}
    </div> {# fin div.container #}
</footer>


