<div class="col-md-2 col-sm-12">
    <aside>
        <div class="aside">
            <!-- FILTRES -->
            <h3>Filtrer par</h3>
            <!-- Mots-clefs -->
            <h4>Mot-clefs</h4>
            <input type="text" placeholder="Recherchez..">
            <!-- Catégories -->
            <h4>Catégories</h4>
            <div>
                <input type="checkbox" id="photographie" name="photographie"
                       checked>
                <label for="photographie">Photographie</label>
            </div>
            <div>
                <input type="checkbox" id="peinture" name="peinture">
                <label for="peinture">Peinture</label>
            </div>
            <div>
                <input type="checkbox" id="theatre" name="theatre">
                <label for="theatre">Théâtre</label>
            </div>
            <!-- Deadlines -->
            <h4>Deadlines</h4>
            <div>
                <input type="checkbox" id="deadline-en-cours" name="deadline-en-cours"
                       checked>
                <label for="deadline-en-cours">En cours</label>
            </div>
            <div>
                <input type="checkbox" id="deadline-passee" name="deadline-passee">
                <label for="deadline-passee">Passées</label>
            </div>
            <!-- Localisation -->
            <h4>Localisation</h4>
            <input type="text" placeholder="Recherchez..">
            <!-- Montant récompense financière-->
            <h4>Récompense financière</h4>
            <!-- Participation financière -->
            <h4>Participation financière</h4>
        </div>
    </aside>
</div>